<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="panel">
    <ng-container class="firstContainer">
        <h4>Film à l'affiche</h4>
        <ng-container *ngIf="movieList">
            <table>
                <thead>
                    <tr>
                        <th>Nom du film</th>
                        <th>Date de parution</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody class="sc">
                    <tr *ngFor="let data of movieList">
                        <td> {{ data.nameMovie }} </td>
                        <td> {{ data.comingSoon }} </td>
                        <td> {{ data.descriptionMovie }} </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </ng-container>
</div>

<div class="firstContainer">
    <ng-container>
        <h4>Film conseillé</h4>
    </ng-container>
</div>




