.panel {
    display: inline-block;
    position: absolute;
    margin-top:100px;
    text-align: center;
}

.firstContainer {
    display: inline-block;
    position: relative;
    margin-left: 40%;
    margin-top:100px;
}
  