<div class="navbar">
  <div class="profil">
    <h3>Profil : {{ pseudo }}</h3> 
  </div>
  <div class="bodyNavbar">
    <input id="input1" type="text" placeholder="Rechercher un film"><br/>
    <p>Agenda</p><br/>
    <p>Mes films</p><br/>
    <p>Acteur</p><br/>
    <p>Réalisateur</p><br/>
    <p>Producteur</p><br/>
    <p>Mes statistiques</p><br/>
  </div>
  <div class="footerNavbar">
    <a href="https://facebook.com">Facebook</a>
    <br/>
    <a href="https://twitter.com">Twitter</a>
  </div>
</div>
