.navbar {
    height: 1000px;
    width: 15%;
    color: grey;
    background-color:silver;
    display: inline-block;
    text-align: center;
}

.bodyNavbar {
    margin-top: 55px;
}

.footerNavbar {
    margin-top: 80%;
}